<aside class="card explorer-card">
  <div class="card-header">
    <span class="card-title">Shapes</span>
  </div>
  <div class="card-block brush-area-height">
    <uib-accordion close-others="true">
      <div uib-accordion-group class="shapes-grouped"
           ng-repeat="(category, shapes) in $ctrl.shapeList"
           ng-click="$ctrl.selectCategory(category)">
        <uib-accordion-heading>
          <i class="mdi mdi-brightness-1 text-muted"></i>
          <span title="{{category}}">{{category}}</span>
          <i class="pull-xs-right mdi"
             ng-class="{'mdi-expand-less': $ctrl.isCurrentCategoryOpened(category),
            'mdi-expand-more': !$ctrl.isCurrentCategoryOpened(category)}"></i>
        </uib-accordion-heading>
        <ul>
          <li ng-repeat="shape in shapes"
              shape-category="{{shape.category}}"
              shape-type="{{shape.type}}"
              shape-name="{{shape.name}}"
              shape-editable="{{shape.editable}}"
              shape-placement-category="{{shape.placementCategory}}"
              shape-width="{{shape.width}}"
              shape-height="{{shape.height}}"
              explorer-shape-draggable
              title="{{shape.name}}">
            {{shape.name}}
          </li>
        </ul>
      </div>
    </uib-accordion>
  </div>
</aside>
