$white: #FFFFFF;

.pivot-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1090;
  width: map-get($pivot-bar-width, sm);
  padding: 10px 5px;
  background-color: $gray;
  transition: width .1s ease-in-out;

  @include media-breakpoint-up(md) {
    width: map-get($pivot-bar-width, md);

    .mobile-context {
      display: none;
    }
  }
}

.pivot-bar-menus {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $white;
}

.pivot-bar-menu-item {
  margin: 10px 5px 20px;

  a {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $gray;

    &.active {
      background-color: $brand-primary;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .menu-icon {
    font-size: 32px;
  }
}
